<%- include("partials/header") -%>
    <h1>
        <%= homeTitle %>
    </h1>
    <p>
        <%= homeContent %>
    </p>
    <% posts.forEach(function(e){ %>
        <h3>
            <%= e.title %>
        </h3>
        <p>
            <%= e.body.substring(0, 100) + " ..." %> <a href="/posts/<%= e._id %>">Read more</a>
        </p>

        <% });%>


            <%- include("partials/footer") -%>